
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">

    <h1>Hungry capybara</h1>
    <p>Find a recipe <br> that suits Your needs!</p>

    <% if current_user && current_user.admin %>
      <%= link_to "Available products", products_path, class:"btn btn-primary btn-lg" %>
    <% end %>
    <% if current_user %>
      <%= link_to "Check your fridge", ingredients_path, class:"btn btn-primary btn-lg" %>
    <% end %>

  </div>
</div>
