h3,
button,
.form {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.group_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
} 

.link_margin {
    margin-right: 10px;
}