// Place all the styles related to the Products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-of-products-style{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.list-of-products-style h3 {
  border: 1px solid #007bff;;
  border-radius: 5px;
  padding: 10px;
}

.list-of-products-style h3:hover {
  background-color: #007bff;;
  color: white;
}

.list-of-products-style a {
  text-decoration: none;
}