
<h3 class=''>Add new product</h3>
<div class='form-group form'>

<%= render 'form' %>
</div>

<div class='form-group form'>
<%= link_to "Return", products_path, class:'btn btn-outline-danger'%>
</div>
